 /* This is a list of CSS properties that you'll likely need to use for this page that are introduced in this project:
    border
    height
    margin
    padding
    width
 */
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


 body {
    margin:0%;
    padding:0%;
}

main {
    padding:16px;
    margin-bottom: 200px;
}

footer {
    padding: 24px 0px 24px 15px;
    position: fixed;
    bottom: 0;
    background-color: #D9AB91;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid;
    padding: 16px;
    background-color: #590222;
}

a:hover {
    color: green;
}

a {
    text-decoration-line: none;
    color: #BFB95E;
}

html {
    font-family: "Roboto";
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}

h1 {
    color:#BFB95E
}

table {
    border-collapse: collapse;
    border: 1px solid;
}

thead, th, td {
    border-collapse: collapse;
    border: 1px solid;
    padding: 5px
}

tbody tr:nth-child(even) {
    background-color: #bfb95e5d;
}
